.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding:  70px 50px;
  border: 1px solid pink;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding-bottom: 10px
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav {
  /* border: 1px solid red; */
  display: flex;
  padding-bottom: 25px;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding-right: 10px;
}

.btn-clear {
  border: none;
  background: transparent;
}

.postTitle {
  color: #BB2E20;
  text-decoration: none;
  font-weight: bold; 

}

.postTitle:hover {
  text-decoration: underline;
}

.postsContainer {
  text-align: left;
  line-height: 0.5;
  height: 100%;
  border: 10px solid orange;
}

.postMetaText {
  color:#808080;
  font-weight: 525
}

.postLink {
  color: black;
}

.post {
  background-color: #eeeeee;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 5px;
}

.dark {
    background:  #1C2022;
    height: 100%;

} 

.bg-dark {
  background-color:  #1C2022;
  min-height: 100%;
} 

.text-dark {
  color: #7F7F7F;
}

.title-dark {
  color: #CBCBCB;
}

.link-dark {
  color: #BEBEBE;
}

.active {
  color: #BB2E20;
}
