.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
  /* border: 1px solid pink; */
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.nav {
  /* border: 1px solid red; */
  display: flex;
  padding-bottom: 25px;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding-right: 10px;
}

.active {
  color: #BB2E20;
}

.postTitle {
  color: #BB2E20;
  text-decoration: none;
  font-weight: bold; 
}

.postTitle:hover {
  text-decoration: underline;
}

.postsContainer {
  text-align: left;
}

.postMetaText {
  color:#808080;
  font-weight: 550;
}

.postLink {
  color: black;
}

.post {
  background-color: #eeeeee;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 5px
}