.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
  border: 1px solid pink;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}


.nav {
  border: 1px solid red;
  display: flex;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding-right: 10px;
}

.postTitle {
  color: #BB2E20;
  text-decoration: none;
  font-weight: bold; 

}

.postsContainer {
  text-align: left;
}