html,
body,
#app, #root {
  margin: 0;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}


/* html {
  border: 10px solid pink;

} */

/* body {
  border: 5px solid orange;
} */



.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 25px;
  /* min-height: 100%; */
  box-sizing: border-box;
}

p {
  font-size: 15px;
  font-weight: 450;
}

ul {
  padding: 0;
  line-height: 8px;
}

li {
  list-style-type: none;
  padding-bottom: 10px

}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav {
  /* border: 1px solid red; */
  display: flex;
  /* margin: 0 auto; */

}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding-right: 10px;
}

.btn-clear {
  border: none;
  background: transparent;
}

.postTitle {
  color: #BB2E20;
  text-decoration: none;
  font-weight: bold; 
  font-size: 15px;

}

.postCommentTitle {
  color: #BB2E20;
  text-decoration: none;
  font-weight: 780; 
  font-size: 30px;
}




.postTitle:hover {
  text-decoration: underline;
}

.postsContainer {
  text-align: left;
  padding: 0px;
  /* border: 4px solid green; */

}

.postsHeight {
    line-height: 1.5;
}

.postMetaText {
  color:#808080;
  font-weight: 525; 
  padding-bottom: 15px;
  font-size: 15px;
}

.postLink {
  color: black;
}

.post {
  background-color: #eeeeee;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 5px;
}

.dark {
  background:  #1C2022;
  min-height: 100%;

} 

.bg-dark {
  background-color:  #1C2022;
  min-height: 100%;
} 

.bg-medium-dark{
  background-color:  rgba(128, 128, 128, 0.1411764705882353);
  padding: 25px

}

.text-dark {
  color: #7F7F7F;
}

.title-dark {
  color: #CBCBCB;
}

.link-dark {
  color: #BEBEBE;
}

.active {
  color: #BB2E20;
}

.text-light-dark{
  color: #DADADA
}


.comment{
  margin: 100px
}

.center {
  text-align: center
}